:root {
  /* color */
  --color-black: #3f454d;
  --color-white: #ffffff;
  --color-blue: #3b88c3;
  --color-yellow: #fbbe28;
  --color-pink: #fd7f84;
  --color-light-grey: #dfdfdf;

  /* space */
  --base-space: 8px;

  /* size */
  --base-size: 60px;
  --font-size: 18px;
  --border-size: 4px;

  /* animation */
  --animation-duration: 300ms;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  display: flex;
  flex-direction: column;
  background-color: var(--color-black);
  justify-content: center;
  align-items: center;
  height: 100vh;
}
button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
/* logo */
#logo {
  cursor: pointer;
  transition: transform var(--animation-duration) ease;
}
#logo:hover,
.btn:hover {
  transform: scale(1.1);
}
/* button */
#buttons {
  display: flex;
  align-items: center;
}
.btn {
  margin-right: var(--base-space);
  transition: transform var(--animation-duration) ease;
}
.imgBtn img {
  width: var(--base-size);
  height: var(--base-size);
}
.colorBtn {
  width: var(--base-size);
  height: var(--base-size);
  font-size: var(--font-size);
  border-radius: var(--border-size);
}
.pink {
  background-color: var(--color-pink);
}
.blue {
  background-color: var(--color-blue);
}
.yellow {
  background-color: var(--color-yellow);
}

/* list */
#items {
  margin-top: var(--base-space);
  list-style: none;
  width: 60%;
  height: 60%;
  overflow: scroll;
}
.item {
  display: flex;
  background-color: var(--color-white);
  align-items: center;
  font-size: var(--font-size);
  font-weight: 600;
  margin-bottom: var(--base-space);
}
.item__img {
  width: var(--base-size);
  height: var(--base-size);
  margin: var(--base-space);
}

.visible {
  display: block;
}
.invisible {
  display: none;
}
